/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline: none;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin-webfont.eot');
    src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Thin-webfont.woff') format('woff'),
    url('Roboto-Thin-webfont.ttf') format('truetype'),
    url('Roboto-Thin-webfont.svg#Roboto') format('svg');

}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #edebe4 0%, #fefefe 51%);
    background-image:-webkit-linear-gradient(top, #edebe4 0%, #fefefe 51%);
    background-image:-ms-linear-gradient(top, #edebe4 0%, #fefefe 51%);
    background-image:-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #edebe4),
            color-stop(0.51, #fefefe)
    );
    background-attachment:fixed;
    font-family:'Roboto', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.button {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 10em;
    /* auto */
    text-align: center;
    /* DELETE WHEN WIDTH AUTO */
}
.button.red {
    background: none repeat scroll 0 0 #d54e21;
    color: #FFFFFF;
}
.button.red:hover {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}
#top_navigation_menu{
    position: relative;
    z-index: 1;
}
.top_search {
    width: 100%;
}

.top_search input[type="text"] {
    padding: 1%;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    font-size: 1rem;
    transition: border 0.3s;
    width: 98%;
    font-family: 'Roboto';
    outline: none;
    text-align: center;
}
.top_search input[type="text"]:focus,
.top_search input[type="text"].focus {
    border-bottom: solid 2px #969696;
}
.main_container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:44%;
    margin: 0;
    padding: 0;
}

.wrapper_for_elements{
    width:100%;
    display: block;
    padding: 2em;
    display: none;

}
#rss_feed_container{
    width:50%;
    max-width: 350px;
    box-shadow: 0 0 20px #ccc;
    background: rgba(255,255,255,0.8);
    overflow: auto;
    display: inline-block;
}
.ui-tabs .ui-tabs-panel{
    padding: 0;
}
.ui-accordion .ui-accordion-icons {
    font-size: 1.2em;
    background-color: #504f3e;
    color: #fff;
    padding-left: 1.2em;
}
.ui-accordion .ui-accordion-content {
    padding: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
    cursor: auto;
}
.ui-state-active img {
    border-bottom: 2px solid #504f3e;
    padding-bottom: 5px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    opacity:1;
    transition: 0.5s all ease-in-out;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor:hover {
    opacity: 0.5;
}
.ui-draggable-dragging{
    width: 250px;
    display: block;
    background: #fff;
    padding: 10px;
    list-style: none;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #e6e6e6;
    cursor: move;
}
.ui-draggable-dragging a{
    text-decoration: none;
    color: #3c618b;
    border-bottom: 1px dotted #3c618b;
    display: block;
    padding: 0.5em 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
.ui-draggable-dragging p{
    font-size: 0.7rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    color: #666;
}


.highlight { background-color: #f1c40f; padding:0 4px }

/*Capital CSS*/


.post_results li {
    padding: 0.1em 1em;
}

.post_results li p {
    font-size: 0.7em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    color: #666;
    cursor: move;
}
.post_results a {
    text-decoration: none;
    color: #3c618b;
    border-bottom: 1px dotted #3c618b;
    display: block;
    padding: 0.5em 0;
}



/* Portrait layout (default) */


.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    right:0;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}


.post_results ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:30px;
    font-weight:100;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    margin: 10px;
}
h1.logo{letter-spacing: -1px;}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

@media screen and (max-width: 480px) {

    .main_container, #rss_feed_container {
        width: 100%;
        max-width: none;
    }


}
